*{
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
	font-family: "Open-Sans", sans-serif;
}
header{
	background-image: url("../img/grupal.jpg");
	background-size: cover;
	width: 100%;
	height: 780px;
}
.logotipo{
	margin-top: 100px;
	margin-left: -100px;
	width: 450px;

}
.boton{
	width: 100px;
	height: 40px;
	background-color: orange;
	border-radius: 5px;
	padding: 10px;
	margin-top: 100px;
}
a{
	text-decoration: none;
	color: black;
	padding: 12px;
}
nav {
	margin-top: 100px; 

}
section{
	padding: 20px 0px;
}

section .container .row .col-4 img{
	width: 350px;
}
footer{
	width: 100%;
	height: 75px;
	background-color: #353535;
	padding: 30px 30px;
}
p{
	color: white;
	font-size: 18px;
}
